[submodule "startpage"]
	path = startpage
	url = git@github.com:zemmsoares/startpage.git

[submodule "notion"]
	path = polybar/.config/polybar/custom-modules/notion
	url = git@github.com:zemmsoares/polybar-notion.git
