[submodule "startpage"]
	path = startpage
	url = git@github.com:zemmsoares/startpage.git

[submodule "notion"]
	path = polybar/.config/polybar/custom-modules/notion
	url = git@github.com:zemmsoares/polybar-notion.git
	
[submodule "polybar/.config/polybar/custom-modules/polybar-news"]
	path = polybar/.config/polybar/custom-modules/polybar-news
	url = git@github.com:zemmsoares/polybar-news.git
	
[submodule "polybar/.config/polybar/custom-modules/polybar-hackernews"]
	path = polybar/.config/polybar/custom-modules/polybar-hackernews
	url = git@github.com:zemmsoares/polybar-hackernews.git

[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:zemmsoares/nvim.git
