[submodule ".dotfiles/polybar/.config/polybar/custom-modules"]
	path = .dotfiles/polybar/.config/polybar/custom-modules
	url = git@github.com:zemmsoares/polybar-notion.git
[submodule "polybar/.config/polybar/custom-modules/notion"]
	path = polybar/.config/polybar/custom-modules/notion
	url = git@github.com:zemmsoares/polybar-notion.git
