! general
*background: #101010
*foreground: #a9b1d6

! blacks
*color0: #32344a
*color8: #4b4d5c

! reds
*color1: #f7768e
*color9: #ff8a9c

! greens
*color2: #9ece6a
*color10: #caf284

! yellows
*color3: #cebe94
*color11: #e9d7a8

! blues
*color4: #7da6ff
*color12: #8db0ff

! magentas
*color5: #ad8ee6
*color13: #c69bf2

! cyans
*color6: #0db9d7
*color14: #1ecbda

! whites
*color7: #9699a8
*color15: #bcc2d9
